@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #F4F4F4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding: 60px 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.hidden-cards {
  display: none;
}

.card-link {
  display: block;
  text-decoration: none;
  transition: all 0.6s ease-in;
}
.card-link:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.main + .sidebar {
  margin-left: 30px;
}

.sidebar {
  min-width: 200px;
  width: 270px;
}

.card {
  width: 270px;
  border-radius: 4px;
  overflow: auto;
  position: relative;
}
.card__badges {
  position: absolute;
  display: flex;
  top: 10px;
  left: 15px;
}
.card__badges > * + * {
  margin-left: 10px;
}
.card__badge {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 10px;
  background: #ffcf26;
  border-radius: 4px;
  color: #000;
}
.card__badge--credit {
  background: #11be75;
  color: #fff;
}
.card__content {
  padding: 16px 15px 20px;
  background: #fff;
}
.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  line-height: 1.14;
  color: #000;
  margin-bottom: 11px;
}
.card__term {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  line-height: 1.1;
  color: #000;
  margin-bottom: 11px;
}
.card__metro {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #000;
  padding-left: 26px;
  position: relative;
  margin-bottom: 11px;
}
.card__metro::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 11px;
  left: 0;
  background-image: url("../img/metro.svg");
}
.card__address {
  font-weight: 40;
  font-size: 14px;
  line-height: 1.14;
  color: #777;
}

.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #e5e5e5;
  border: none;
  border-radius: 4px;
  padding: 26px 0 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #4290c9;
  transition: background-color 0.2s ease-in-out;
}
.btn-more:hover {
  background-color: #ccc;
}
.btn-more img {
  margin-right: 10px;
}

.widget {
  width: 100%;
  margin-bottom: 30px;
}
.widget__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #000;
  margin-bottom: 21px;
  position: relative;
  background: firebrick;
  cursor: pointer;
}
.widget__title::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}
.widget__body {
  width: 100%;
}

.location__row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}
.location__row:last-child {
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
.location__btn {
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
}
.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.location__checkbox:checked + .location__btn {
  background: #ffcf26;
}

.radio {
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.radio + .radio {
  margin-top: 15px;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio__real:checked + .radio__fake::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background: #3c3c3c;
  transform: translate(-50%, -50%);
}

.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}

.radio__real:checked ~ .radio__title {
  font-weight: 500;
  color: #000;
}

.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #777777;
}

.radio__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #000;
  margin-left: 10px;
  font-weight: 400;
  color: #3c3c3c;
}

.checkbox {
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.checkbox + .checkbox {
  margin-top: 15px;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__real:checked + .checkbox__fake::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 10px;
  background-image: url("../img/check.svg");
  transform: translate(-50%, -50%);
}

.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}

.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
  color: #000;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 2px;
}

.checkbox__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #000;
  margin-left: 10px;
  font-weight: 400;
  color: #3c3c3c;
}

.widget__hidden {
  margin-top: 15px;
  display: none;
}

.widget__show-hidden {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #4290c9;
  transition: opacity 0.2s ease-in;
}
.widget__show-hidden:hover {
  opacity: 0.8;
}

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.toggle__fake {
  display: inline-block;
  width: 37px;
  height: 20px;
  border-radius: 10px;
  background: #c4c4c4;
  position: relative;
  padding: 2px;
}

.toggle__fake:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3c3c3c;
  top: 2px;
  left: 2px;
  transition: all 0.3s ease-in;
}

.toggle__real:checked + .toggle__fake {
  background: #ffe074;
}

.toggle__real:checked + .toggle__fake::before {
  left: 19px;
  top: 2px;
}

.toggle__real:checked ~ .toggle__title {
  font-weight: 500;
  color: #000;
}

.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3c3c3c;
  margin-left: 10px;
}

.form-btn {
  background-color: transparent;
  height: 50px;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-btn img {
  margin-right: 12px;
}

.form-btn + .form-btn {
  margin-top: 10px;
}

.form-btn--submit {
  background: #ffcf26;
  border: none;
  color: #000;
}

.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: #474747;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.card-link--hidden {
  display: none !important;
}

.widget__title--active::after {
  transform: rotate(180deg);
}

.widget__body--hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    background-color: violet;
    width: 830px;
    padding: 60px 15px;
  }
}
@media (max-width: 829px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.37);
    margin-left: 0 !important;
    overflow-y: scroll;
    bottom: 0;
    transform: translateX(-120%);
    transition: transform 0.4s ease-in;
  }

  .sidebar--mobile-active {
    transform: translateX(0%);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .container {
    max-width: 600px;
  }

  .menu-icon-wrapper {
    display: block;
  }
}
@media (max-width: 829px) {
  .toggle-sidebar {
    display: flex;
    cursor: pointer;
  }
}
@media (max-width: 599px) {
  .cards-holder {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 580px;
  }

  .toggle-sidebar {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */