@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F4F4F4;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.card-link {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.card-link:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sidebar {
  width: 270px;
}

.card {
  width: 270px;
  border-radius: 4px;
  overflow: auto;
  position: relative;
}

.card__badges {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  left: 15px;
}

.card__badges > * + * {
  margin-left: 10px;
}

.card__badge {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 10px;
  background: #ffcf26;
  border-radius: 4px;
  color: #000;
}

.card__badge--credit {
  background: #11be75;
  color: #fff;
}

.card__content {
  padding: 16px 15px 20px;
  background: #fff;
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  line-height: 1.14;
  color: #000;
  margin-bottom: 11px;
}

.card__term {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  line-height: 1.1;
  color: #000;
  margin-bottom: 11px;
}

.card__metro {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #000;
  padding-left: 26px;
  position: relative;
  margin-bottom: 11px;
}

.card__metro::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 11px;
  left: 0;
  background-image: url("../img/metro.svg");
}

.card__address {
  font-weight: 40;
  font-size: 14px;
  line-height: 1.14;
  color: #777;
}

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #e5e5e5;
  border: none;
  border-radius: 4px;
  padding: 26px 0 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #4290c9;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.btn-more:hover {
  background-color: #ccc;
}

.btn-more img {
  margin-right: 10px;
}

.widget {
  width: 100%;
  margin-bottom: 30px;
}

.widget__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #000;
  margin-bottom: 21px;
  position: relative;
  background: firebrick;
  cursor: pointer;
}

.widget__title::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.widget__body {
  width: 100%;
}

.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #d6d6d6;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}

.location__row:last-child {
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

.location__btn {
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.location__checkbox:checked + .location__btn {
  background: #ffcf26;
}

.radio {
  display: block;
  cursor: pointer;
  background-color: fuchsia;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.radio__real:checked + .real__fake::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #3c3c3c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
}

.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffe074;
  border: 1px solid #777777;
}
/*# sourceMappingURL=style.css.map */